$color-background: #f6f8f9;

$color-primary: #032f61;
$color-primary-500: #6bc4e8;
$color-secondary: #e6007e;
$color-secondary-500: #97a3ae;

$color-black: #000000;
$color-white: #FFFFFF;

$color-success: #5c946e;
$color-error: #d7263d;