@import 'theme/colors.scss';
@import 'theme/breakpoints.scss';

.todoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;

    @media (max-width: $md) {
        flex-direction: column;
    }

    .todo {
        display: flex;
        align-items: start;
        column-gap: 5px;
    }

    .actions {
        display: flex;
        column-gap: 5px;
    }

    .checked {
        text-decoration: line-through;
    }
}