@import 'theme/colors.scss';
@import 'theme/breakpoints.scss';

.buttonWraper {
    .primary {
        background-color: $color-primary;
        color: $color-white;
    }

    .secondary {
        background-color: $color-secondary;
        color: $color-white;
    }

    .success {
        background-color: $color-success;
        color: $color-white;
    }

    .danger {
        background-color: $color-error;
        color: $color-white;
    }

    .button {
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
    }
}